* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spotlight__main {
  display: flex;
  justify-content: center;
}

.spotlight__input {
  margin: 10px;
  width: 200vw;
  border: solid 3px grey;
}

.spotlight__searchBtn {
  background-color: blueviolet;
  color: white;
}

.spotlight__list {
  list-style: none;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.spotlight__item {
  margin: 10px;
}
.spotlight__footer {
  text-align: center;
}

.DisneyItem {
  
}

.favourite {
  border: solid 2px blue;
}